<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kl.home">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cryingfrog"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cryingfrog"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SignIn"></activity>
        <activity android:name=".SignUp"></activity>
        <activity android:name=".RollcallSelect" />
        <activity android:name=".PhotoRollcall" />
        <activity android:name=".QuestionPick"></activity>
        <activity android:name=".QuestionAnalysis" />
        <activity android:name=".QuestionWait" />
        <activity android:name=".QuestionSt" />
        <activity android:name=".GroupRandomPick" />
        <activity android:name=".GroupDetailSetting" />
        <activity android:name=".GroupDetail" />
        <activity android:name=".CreateClassGroupSt2" />
        <activity android:name=".CreateClassGroupSt1" />
        <activity android:name=".GroupPage" />
        <activity android:name=".Activity_PickAnswer" />
        <activity android:name=".TrainAndTest" />
        <activity android:name=".CreateClassSt1" />
        <activity android:name=".CreateClassSt2" />
        <activity android:name=".LeaveRecord" />
        <activity android:name=".CallNameRollCall" />
        <activity android:name=".RollcallResult" />
        <activity android:name=".Activity_ScoreSetting" />
        <activity android:name=".Activity_ScoreSetting_Edit" />
        <activity android:name=".Activity_StudentDetail" />
        <activity android:name=".WelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.kl.home.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>